*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Nerko One', sans-serif;
}

body{
    background-image: url("image/fondo.webp");
    background-repeat: cover;
}
nav{
    background: #9F33FF;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #AF7AC5;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3F0444
        ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #7FB3D5;
    }
    #check:checked ~ ul{
        left:0;
    }
 
}
   
   .container-portada {
    width: 100%;
    height: 400px;
    background-image: url(image/banner.webp);
    background-size: 80%;
    animation: movimiento 10s infinite linear alternate;
    }
    @keyframes movimiento {
        from { 
            background-position: botton letf;
        }to {
            background-position: top right;
        }
    }
    .capa-gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        background: -webkit-linear-gradient(left, black);
        opacity: 0.5;
    }
.container-details {
    width: 100%;
    max-width: 1200px;
    
}

.details {
    width: 100%;
    max-width: 500px;
    top:20px;
    left: 10px;
    color:white;
}
.details h1{
    font-size: 40px;
    font-weight: 100;
}
.details p{
margin-top: 10px;
font-size: 20px;
}
.details button{
    padding: 10 px 20 px;
    font-size: 16 px;
    background: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition:background 300ms;
    cursor: pointer;


}
.details button:hover{
    background: white;
    color: black;
}

main {
    width: 100%;
    max-width: 1200px;
}
article{
    width: 100%;
    max-width: 900px;
    margin-top: 20px;

}
article h1{
    font-size: 40px;
    font-weight: 100;
}
article hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(letf, black, red);
    margin-top: 10px;

}
article p{
    font-size: 30px;
    margin-top: 30px;
}
.boton{
    display: block;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #AF7AC5;
    border-radius: 10px;
    padding: 15px 15px;
    margin: 5px 10px;
    color:#3F0444;
    text-decoration: none;

}
.boton:hover{
    background-color: transparent;
    border: 2px solid rgb(127, 206, 255);
    color: rgb(127, 206, 255);
}
.R {
    width: 100%;
    height: 190px;
    background-image: url(image/R.jpg);
    background-size: 30%;
    
   
}
.G {
    width: 100%;
    height: 250px;
    background-image: url(image/G.jpg);
    background-size: 35%;
    
   
}
.S{
    width: 100%;
    height: 260px;
    background-image: url(image/Br.jpg);
    background-size: 30%;
     
}
.rectangulo {
    width: 1600px;
    height: 5px;
    background: #3F0444;
}
.rectangulo2 {
    width: 1600px;
    height: 5px;
    background: #3F0444;
}
.SIX{
    width: 100%;
    height: 250px;
    background-image: url(image/te.jpg);
    background-size: 30%;
}
.rectangulo3 {
    width: 1600px;
    height: 5px;
    background: #3F0444;
}
.pi {
    width: 100%;
    height: 250px;
    background-image: url(image/la.jpg);
    background-size: 30%;
}
.rectangulo4 {
    width: 1600px;
    height: 5px;
    background: #3F0444;
}
.rectangulo5 {
    width: 1600px;
    height: 1000px;
    background: white;
}
.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon2:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon2 span{
    position: absolute;
    display: block;
}
#span5{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon2:hover #span5 {
    left: 100%;
    transition: 1s;
}
#span7{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon2:hover #span7 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span6{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon2:hover #span6 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span8{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon2:hover #span8 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon3 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon3:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon3 span{
    position: absolute;
    display: block;
}
#span9{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon3:hover #span9 {
    left: 100%;
    transition: 1s;
}
#span11{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon3:hover #span11 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span10{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon3:hover #span10 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span12{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon3:hover #span12 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon4 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon4:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon4 span{
    position: absolute;
    display: block;
}
#span13{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon4:hover #span13 {
    left: 100%;
    transition: 1s;
}
#span15{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon4:hover #span15 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span15{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon4:hover #span15 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span16{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon4:hover #span16 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon5 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon5:hover{
    background: #247eb9;
    box-shadow: 0 0 10px #247eb9, 0 0 40px #247eb9, 0 0 80px #247eb9;
    transition-delay: 1s;
}
.btn-neon5 span{
    position: absolute;
    display: block;
}
#span61{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #247eb9);
}
.btn-neon5:hover #span61 {
    left: 100%;
    transition: 1s;
}
#span63{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #247eb9);
}
.btn-neon5:hover #span63 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span62{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #247eb9);
}
.btn-neon5:hover #span62 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span64{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #247eb9);
}
.btn-neon5:hover #span64 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon6 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon6:hover{
    background: #247eb9;
    box-shadow: 0 0 10px #247eb9, 0 0 40px #247eb9, 0 0 80px #247eb9;
    transition-delay: 1s;
}
.btn-neon6 span{
    position: absolute;
    display: block;
}
#span71{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #247eb9);
}
.btn-neon6:hover #span71 {
    left: 100%;
    transition: 1s;
}
#span73{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #247eb9);
}
.btn-neon6:hover #span73 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span72{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #247eb9);
}
.btn-neon6:hover #span72 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span74{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #247eb9);
}
.btn-neon6:hover #span74 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon7 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon7:hover{
    background: #247eb9;
    box-shadow: 0 0 10px #247eb9, 0 0 40px #247eb9, 0 0 80px #247eb9;
    transition-delay: 1s;
}
.btn-neon7 span{
    position: absolute;
    display: block;
}
#span81{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #247eb9);
}
.btn-neon7:hover #span81 {
    left: 100%;
    transition: 1s;
}
#span83{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #247eb9);
}
.btn-neon7:hover #span83 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span82{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #247eb9);
}
.btn-neon7:hover #span82 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span84{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #247eb9);
}
.btn-neon7:hover #span84 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon8 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon8:hover{
    background: #247eb9;
    box-shadow: 0 0 10px #247eb9, 0 0 40px #247eb9, 0 0 80px #247eb9;
    transition-delay: 1s;
}
.btn-neon8 span{
    position: absolute;
    display: block;
}
#span91{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #247eb9);
}
.btn-neon8:hover #span91 {
    left: 100%;
    transition: 1s;
}
#span93{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #247eb9);
}
.btn-neon8:hover #span93 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span92{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #247eb9);
}
.btn-neon8:hover #span92 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span94{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #247eb9);
}
.btn-neon8:hover #span94 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon9 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon9:hover{
    background: #199662b6;
    box-shadow: 0 0 10px #199662b6, 0 0 40px #199662b6, 0 0 80px #199662b6;
    transition-delay: 1s;
}
.btn-neon9 span{
    position: absolute;
    display: block;
}
#span111{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #199662b6);
}
.btn-neon9:hover #span111 {
    left: 100%;
    transition: 1s;
}
#span113{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #199662b6);
}
.btn-neon9:hover #span113 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span112{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #199662b6);
}
.btn-neon9:hover #span112 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span114{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #199662b6);
}
.btn-neon9:hover #span114 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.btn-neon10 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon10:hover{
    background: #199662b6;
    box-shadow: 0 0 10px #199662b6, 0 0 40px #199662b6, 0 0 80px #199662b6;
    transition-delay: 1s;
}
.btn-neon10 span{
    position: absolute;
    display: block;
}
#span121{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #199662b6);
}
.btn-neon10:hover #span121 {
    left: 100%;
    transition: 1s;
}
#span123{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #199662b6);
}
.btn-neon10:hover #span123 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span122{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #199662b6);
}
.btn-neon10:hover #span122 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span124{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #199662b6);
}
.btn-neon10:hover #span124 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.btn-neon11 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon11:hover{
    background: #199662b6;
    box-shadow: 0 0 10px #199662b6, 0 0 40px #199662b6, 0 0 80px #199662b6;
    transition-delay: 1s;
}
.btn-neon11 span{
    position: absolute;
    display: block;
}
#span131{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #199662b6);
}
.btn-neon11:hover #span131 {
    left: 100%;
    transition: 1s;
}
#span133{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #199662b6);
}
.btn-neon11:hover #span133 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span132{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #199662b6);
}
.btn-neon11:hover #span132 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span134{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #199662b6);
}
.btn-neon11:hover #span134 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.btn-neon12 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon12:hover{
    background: #199662b6;
    box-shadow: 0 0 10px #199662b6, 0 0 40px #199662b6, 0 0 80px #199662b6;
    transition-delay: 1s;
}
.btn-neon12 span{
    position: absolute;
    display: block;
}
#span14{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #199662b6);
}
.btn-neon12:hover #span141 {
    left: 100%;
    transition: 1s;
}
#span143{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #199662b6);
}
.btn-neon12:hover #span143 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span142{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #199662b6);
}
.btn-neon12:hover #span142 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span144{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #199662b6);
}
.btn-neon12:hover #span144 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


.btn-neon15 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon15:hover{
    background: #d607d6b6;
    box-shadow: 0 0 10px #d607d6b6, 0 0 40px #d607d6b6, 0 0 80px #d607d6b6;
    transition-delay: 1s;
}
.btn-neon15 span{
    position: absolute;
    display: block;
}
#span222{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #d607d6b6);
}
.btn-neon15:hover #span222 {
    left: 100%;
    transition: 1s;
}
#span224{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #d607d6b6);
}
.btn-neon15:hover #span224 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span223{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #d607d6b6);
}
.btn-neon15:hover #span223 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span225{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #d607d6b6);
}
.btn-neon15:hover #span225 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.rename{
    font-size: 40px;
    font-weight: 100;
    background-color: #dc74e688;
}
.rename1 {
    font-size: 30px;
    margin-top: 30px;
 
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
